<footer
  style="
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  "
  id="footer"
>
  <img src="/img/icon.png" style="height: 50px; margin: 0 10px" />
  <h1 style="color: #ff971f; font-family: sans-serif">Talgtna</h1>
</footer>
