@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cairo, Roboto;
}

body {
  background: #eee;
  overflow-x: hidden;
  direction: rtl;
}
textarea:focus,
input:focus {
  outline: none;
}

nav ul li {
  margin: 15px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  border-radius: 5px;
  height: 35px;
}
nav ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
}

.Product {
  margin: 10px;
  border-radius: 5px;
  background: #fff;
  width: 260px;
  position: relative;
}

.Product img {
  width: 260px;
  height: 300px;
  border-radius: 5px;
}

.Product a {
  text-decoration: none;
  text-transform: capitalize;
  color: #333;
}

.Product .price {
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 5px;
  padding: 0 10px;
  font-weight: 700;
  background: #fff;
}

.Product .name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 5px;
  left: 5px;
  background: #fff;
  padding: 5px 0;
  border-radius: 5px;
}

.quantity button {
  margin: 0 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

.quantity button:first-child {
  background: #14ec14;
  color: #fff;
}

.quantity button:last-child {
  background: #ff971f;
  color: #fff;
}

.quantity p {
  margin: 0 10px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ff971f;
  transition: 0.3s;
  padding: 5px 0;
}

#outside {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background: #fff;
  border: none;
  cursor: pointer;
}

.notAvailable {
  background: #33333329;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  z-index: 9;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

#message {
  width: 250px;
  height: 40px;
  background: green;
  color: #fff;
  position: absolute;
  top: 100px;
  right: -255px;
  border-radius: 5px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
}

#errmsg {
  width: 250px;
  height: 40px;
  background: red;
  color: #fff;
  position: absolute;
  top: 100px;
  right: -255px;
  border-radius: 5px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
}

#favourite {
  position: absolute;
  top: 5px;
  left: 55px;
}

#favourite button {
  background: #fff;
  color: #333;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 50px;
}

#favourite button:hover {
  color: red;
}

#message {
  width: 250px;
  height: 40px;
  background: green;
  color: #fff;
  position: absolute;
  top: 100px;
  right: -255px;
  border-radius: 5px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
}

#errmsg {
  width: 250px;
  height: 40px;
  background: red;
  color: #fff;
  position: absolute;
  top: 100px;
  right: -255px;
  border-radius: 5px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
}

.onlylilleft {
  position: absolute;
  background: #ff971f;
  top: 45px;
  right: 10px;
  border-radius: 5px;
  padding: 0 10px;
  color: #fff;
}

.onlylilleft p {
  font-size: 20px;
  font-weight: 800;
}
