<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>my coupons</title>
    <link rel="stylesheet" href="/css/profile.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body onload="cartLen()">
    <%- include('../components/nav') %>
    <div class="container">
      <% if (coupons[0].coupons.length !== 0) { %>
      <div
        class="coupons"
        style="
          width: 300px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background: #fff;
          padding: 0 10px;
        "
      >
        <h3>القسائم</h3>
        <% coupons[0].coupons.forEach(coupon => { %>
        <div
          class="code"
          style="
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <p>كوبون: <%= coupon.code %></p>
          <p>قيمة: <%= coupon.value %></p>
        </div>
        <% }) %>
      </div>
      <% } else { %>
      <p>للأسف لا يوجد قسيمة</p>
      <% } %>
    </div>
    <%- include('../components/footer') %>
  </body>
</html>
