<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Total Sales</title>
    <link rel="stylesheet" href="/css/admin/totalsales.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="totalorders">
        <p>مجموع الطلبات:</p>
        <p><%= orderslen %></p>
      </div>
      <div class="totalSales">
        <p>إجمالي المبيعات:</p>
        <p>ج<%= total %></p>
      </div>
    </div>
  </body>
</html>
