<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cash On Delivery</title>
    <link rel="stylesheet" href="/css/order.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body onload="cartLen(), calContainer()">
    <%- include('../components/nav') %>
    <div class="container">
      <div id="checkoutContainer">
        <div id="countContainer"></div>
      </div>
      <form id="order" action="/order" method="post">
        <div class="input">
          <select name="city" id="theCity" required onchange="notShrouk()">
            <option value="" selected disabled>المدن</option>
            <option value="الشروق">الشروق</option>
            <option value="بدر">بدر</option>
            <option value="مدينتي">مدينتي</option>
            <option value="المستقبل">المستقبل</option>
            <option value="كمبوند البروج">كمبوند البروج</option>
            <option value="العبور" disabled>العبور</option>
          </select>
        </div>
        <div class="input">
          <select name="where" required onchange="getLoc()" id="location">
            <option disabled selected value="">تسليم الطلب في ؟</option>
            <option value="الفرع">الفرع</option>
            <option value="المنزل">المنزل</option>
          </select>
        </div>
        <div class="input">
          <label>شارع</label>
          <input type="text" required name="addrSt" id="st" />
        </div>
        <div class="input">
          <label>عماره</label>
          <input type="text" required name="addrB" id="bu" />
        </div>
        <div class="input">
          <label>طابق</label>
          <input type="text" required name="addrF" id="fo" />
        </div>
        <div class="input">
          <label>رقم الهاتف</label>
          <input type="tel" required name="phone" minlength="11" id="ph" />
        </div>
        <div class="input">
          <label>رقم هاتف احتياطي</label>
          <input type="tel" name="phone2" minlength="11" id="ph2" />
        </div>
        <input type="hidden" readonly name="delivered" value="0" />
        <input type="hidden" readonly name="paid" value="0" />
        <input type="hidden" readonly name="method" value="cash" />
        <div id="otherinput"></div>
        <div class="location"></div>
        <div class="input">
          <button onclick="addToOrder()" type="submit">اطلب الان</button>
        </div>
      </form>
    </div>
    <%- include('../components/footer') %>
    <script src="/js/order.js"></script>
    <script>
      "use strict";
      var json = {
        code: "",
        value: 0,
      };
      if (disCount.code === "cashback") {
        localStorage.setItem("disCount", JSON.stringify(json));
      }
      if (!localStorage.getItem("disCount")) {
        localStorage.setItem("disCount", JSON.stringify(json));
      }
    </script>
  </body>
</html>
